* {
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}

header {
    background-color:white ;
    width:100vw;
    padding:15px ;
    position: fixed;
    height:15vh ;
 
    
}

 nav {
    display:flex ;
    justify-content:space-between ;
    align-items:center ;
    
    
    
 }

 
 nav ul {
    display: flex ;
    align-items:center ;
    list-style:none ;
   position: relative;
   right:10rem ;
   
 }


 nav li a {
    text-decoration: none ;
    color:rgba(207, 199, 199, 0.671) ;
    font-size:2rem ;
    padding:8px 15px ;
    font-weight:bold ;
  
   
   
 }






 .r-nav li:hover {
    position: relative;
    transition: 2s;
    transform: scale(1.2);
   border: none;
    
    
    

 }

 .r-nav li a:hover {
  color:black ;
  


 }
  
 .logo {
    position: relative;
   left:10vh ;
 }

 .banner{
  width:100% ;
 height:100vh;
 background-image: url("https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:13ead2e1-3ac9-44a1-b4cb-14736da07bb0;revision=0?component_id=90838487-a7fa-4a2c-8cf4-a4748238ac5c&api_key=CometServer1&access_token=1670028227_urn%3Aaaid%3Asc%3AUS%3A13ead2e1-3ac9-44a1-b4cb-14736da07bb0%3Bpublic_c2d68838ba7219a13b6acbb3078320697ded56f6");
 background-repeat: no-repeat;
 background-size: 100%;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.text{
    position: relative;
      margin-bottom:10vw ;
     margin-left:9.5rem ;
    font-size:5rem ;
    color:white ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.frase {
        position: absolute;
        margin-left:8rem ;
        font-family: 'Montserrat' , sans-serif;
        font-size:2rem ;
        color:white ;     
        text-transform: uppercase;     
        font-weight: bold;  
        left: 2rem;
}

h2:hover{
  cursor: pointer;
  
transition:2s ;
 transform: scale(1.1) ;  
   
}
a {
    text-decoration:none ;
}
  main {
   display: flex;
    width:100% ;
    height:auto ;
    flex-wrap: wrap;
    justify-content:center ;
    

  }

  figure{
    display:inline-block ;
   
    
 
  }
   
  

  img:hover{

    cursor: pointer;
  
      transform:scale(1.1);
      position: relative;
      top: -2px;
    
     
      
     
  }


  
 
.alinhamento {


        padding:7.2px ;
}









footer {
  
    display:flex ;
    justify-content: space-between;
    align-items:center ;

}
footer img {
    position: relative;
    left:25vh ;
    margin-right:2.5rem ;
    top:125px ;
  }
  div {
    height:200px ;
  
  }
















 